<!DOCTYPE html>
<html>
<head>
  <title>User Profile List</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>
    <link rel="stylesheet" href="style.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

  <div class="container">
    <nav>
      <div class="navbar">
        <div class="logo">
          <img src="logo.png" alt="">
            <h1> WEBAPP</h1>
        </div>
        <ul>
          
          <li><a href="index.html">
            <i class="fas fa-chart-bar"></i>
            <a class="nav-item">Employee List</a>
          </a>
          </li>
          <li><a href="registration.html">
            <i class="fas fa-user"></i>
            <span class="nav-item">Registration</span>
          </a>
          </li>
          <li><a href="bulk.html">
            <i class="fas fa-tasks"></i>
            <span class="nav-item">Bulk Register</span>
          </a>
          </li>
          <li><a href="documents.html">
            <i class="fab fa-dochub"></i>
            <span class="nav-item">Documents</span>
          </a>
          </li>
<!-- 
          <li><a href="#">
            <i class="fas fa-cog"></i>
            <span class="nav-item">Setting</span>
          </a>
                                                         
          </li>
          <li><a href="#">
            <i class="fas fa-question-circle"></i>
            <span class="nav-item">Help</span>
          </a>                                          -->
          </li>
          <li><a href="login.html" class="logout">
            <i class="fas fa-sign-out-alt"></i>
            <span class="nav-item">Logout</span>
          </a>
          </li>
        </ul>
      </div>
    </nav>

  <form method="get" action="{% url 'admin_view:list' %}">
    <input type="text" name="q" placeholder="Search by the name" value="{{ request.GET.q }}">
    <input type="text" name="education" placeholder="Education Course Name" value="{{ request.GET.education }}">
    <input type="text" name="recent_job" placeholder="Most Recent Job" value="{{ request.GET.recent_job }}">
    <input type="text" name="years_of_experience" placeholder="Years of Experience" value="{{ request.GET.years_of_experience }}">
    <input type="text" name="previous_company" placeholder="Previous Company" value="{{ request.GET.previous_company }}">
    <button type="submit">Search</button>
  </form>

  <form id="delete-form" method="post" action="{% url 'admin_view:deletee' %}">
    {% csrf_token %}
    {% if profiles %}
      <table>
        <tr>
          <th></th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Education</th>
          <th>Certifications</th>
          <th>Years of Experience</th>
          <th>Previous Company</th>
          <th>Most Recent Job</th>
          <th>Applying For</th>
          <th>LinkedIn URL</th>
        </tr>
        {% for profile in profiles %}
          <tr>
            <td><input type="checkbox" name="selected_profiles" value="{{ profile.id }}"></td>
            <td><a href="{% url 'admin_view:view_prof' profile.id %}">{{ profile.user.first_name }}</a></td>
            <td>{{ profile.user.last_name }}</td>
            <td>{{ profile.age }}</td>
            <td>{{ profile.get_gender_display }}</td>
            <td>{{ profile.education_course_name }}</td>
            <td>{{ profile.certifications }}</td>
            <td>{{ profile.years_of_experience }}</td>
            <td>{{ profile.previous_company }}</td>
            <td>{{ profile.most_recent_job }}</td>
            <td>{{ profile.Applying_For }}</td>
            <td>{{ profile.linkedin_url }}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>No results from the entered keyword.</p>
    {% endif %}

    <input type="button" value="Delete Selected" onclick="showConfirmation()">
    <input type="submit" value="Delete All" name="delete_all" onclick="return confirmDeleteAll()">
  </form>

  <form action="{% url 'regandlogin:reg_user' %}" method="get">
    <button type="submit">Add Another</button>
  </form>

  <script>
    function showConfirmation() {
      if (confirm("Are you sure you want to delete the user profile/s?")) {
        document.getElementById("delete-form").submit();
      }
    }

    function confirmDeleteAll() {
      return confirm("Are you sure you want to delete all user profiles?");
    }
  </script>

  <br><br><a href="{% url 'admin_view:users' %}">Go to Admin Page</a>

  </div>
</body>
</html>
